<div>
    <div fxLayout="row" fxLayoutAlign="center">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Value">
        </mat-form-field>
    </div>
    <div class="mrgtop" fxLayout="row" fxLayoutAlign="space-evenly">
        <button mat-mini-fab color="primary">
            1
        </button>
        <button mat-mini-fab color="primary">
            2
        </button>
        <button mat-mini-fab color="primary" >
            3
        </button>
    </div>
    <div class="mrgtop" fxLayout="row" fxLayoutAlign="space-evenly">
        <button mat-mini-fab color="primary" >
            4
        </button>
        <button mat-mini-fab color="primary" >
            5
        </button>
        <button mat-mini-fab color="primary" >
            6
        </button>
    </div>
    <div class="mrgtop" fxLayout="row" fxLayoutAlign="space-evenly">
        <button mat-mini-fab color="primary" >
           7
        </button>
        <button mat-mini-fab color="primary" >
            8
        </button>
        <button mat-mini-fab color="primary" >
           9
        </button>
    </div>
</div>
