<div>
    <div fxLayout="row" fxLayoutAlign="center">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Value" readonly value="{{result}}">
        </mat-form-field>
    </div>
    <div class="mrgtop" fxLayout="row" fxLayoutAlign="space-evenly">
        <button mat-mini-fab color="primary" (click)="checkVal(number)" *ngFor="let number of calcNumber | slice:0:3">
        {{number}}
        </button>
        <button mat-mini-fab color="accent" (click)="checkVal('*')">
            *
        </button>
    </div>
    <div class="mrgtop" fxLayout="row" fxLayoutAlign="space-evenly">
        <button mat-mini-fab color="primary" (click)="checkVal(number)" *ngFor="let number of calcNumber | slice:3:6">
            {{number}}
        </button>
        <button mat-mini-fab color="accent" (click)="checkVal('/')">
            /
        </button>
    </div>
    <div class="mrgtop" fxLayout="row" fxLayoutAlign="space-evenly">
        <button mat-mini-fab color="primary" (click)="checkVal(number)" *ngFor="let number of calcNumber | slice:6:9">
            {{number}}
        </button>
        <button mat-mini-fab color="accent" (click)="checkVal('+')">
            +
        </button>
    </div>
    <div class="mrgtop" fxLayout="row" fxLayoutAlign="space-evenly">
        <button mat-mini-fab color="primary" (click)="checkVal('0')">
            0
        </button>
        <button mat-mini-fab color="accent" (click)="checkVal('AC')">
            C
        </button>
        <button mat-mini-fab color="accent" (click)="checkVal('=')">
            =
        </button>
        <button mat-mini-fab color="accent" (click)="checkVal('-')">
            -
        </button>
    </div>
</div>
