<div #top>
    <nav>
        <mat-toolbar role="head" color="primary">
            <mat-toolbar-row>
                <span>Calculator</span>
                <span class="menu-spacer"></span>
                <div style="margin-left: 5px">
                    <button mat-button>Main</button>
                    <button mat-button>Info</button>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </nav>

    <div class="example-card" style="margin-top: 10px">
        <app-calculator></app-calculator>
    </div>
</div>
